<div class="container">
    <div class="icons">
        <img src="../../assets/Notification Gray.jpg" class="images">
        <label class="labels">Notifications</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Security Gray.jpg" class="images">
        <label class="labels">Security</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Theme.jpg" class="images">
        <label class="labels">Theme</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/chatWallPaper.jpg" class="images">
        <label class="labels">Chat Wallpaper</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Blocked Gray.jpg" class="images">
        <label class="labels">Block</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Desktop Settings.jpg" class="images">
        <label class="labels">Desktop Settings</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Keyboard shortcut.jpg" class="images">
        <label class="labels">Keyboard Shortcuts</label>
    </div>
    <hr class="line">
    <div class="icons">
        <img src="../../assets/Help.jpg" class="images">
        <label class="labels">help</label>
    </div>
</div>

<!--<ul>
    <li *ngFor="let icon of icons">
        {{icon.name}} 
    </li>
</ul>-->