<div class="main">
    <div class="zac">
        <img src="../../assets/Zac Hall.jpg" class="space">
        <h4>Zac Hall</h4>
    </div>
    <div class="far-right">
        <img src="../../assets/Face chat.png" class="far">
        <img src="../../assets/gray Phone.jpg" class="far">
        <img src="../../assets/Vetical Line.png" class="far">
        <img src="../../assets/magnifying Glass Gray.jpg" class="far">
        <img src="../../assets/Gray down arrow.jpg" class="far">
    </div>

</div>
