<div class="main">
    <div class="smile">
        <div class="happy">
            <img src="../../assets/Happy Face.jpg" class="icons">
        </div>
        <div class="pinned">
            <img src="../../assets/Pin.jpg" class="icons">
        </div>
        <div class="holder">
            <input type="text" placeholder="Type a message" class="holder">
        </div>
        <div class="micro">
            <img src="../../assets/Micro Phone.jpg" class="icons">
        </div>
    </div>
    

</div>
