*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 120px;
    background-color: white;
}

.jose-adomo{
    display: flex;

}

.profile{
    margin-top: 10px;
}

.adomo h2{
    margin-top: 25px;
    margin-left: 8px;
}

.adomo p{
    color: gray;
    margin-left: 8px;
}